<div class="card">
  <div class="card-image">
    <img src={{platforms.logo}} alt="{{ platforms.name }} logo" class="service-logo">
  </div>
  <div class="card-content">
    <h3 class="card-title">{{ platforms.name }}</h3>
    <div class="card-rating">
      <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
    </div>
    <p class="card-price">{{ platforms.price | currency:'Q' }} / mes</p>
    <p class="card-duration">1 Dispositivo</p>
    <button class="card-button" [routerLink]="['/platforms', platforms.id]">Ver detalles</button>
    <button class="card-button">Comprar</button>
    <button class="card-button">Agregar al carrito</button>
  </div>
</div>