.card {
  background-color: var(--light-text-color);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #f0f0f0;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px;
  color: var(--primary-variant-color);
}

.card-rating {
  color: #ffc107;
  margin-bottom: 10px;
}

.card-price {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--dark-text-color);
  margin: 0 0 5px;
}

.card-duration {
  font-size: 0.9em;
  color: #777;
}