.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  width: 100%;
  height: 100%;
}