.home-container {
  padding: 20px 40px;
  /* Define el relleno: 10px arriba, 40px a la derecha, 40px abajo y 10px a la izquierda */
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
  color: var(--dark-background-color);
  padding-bottom: 10px;
  border-bottom: 4px solid var(--tertiary-color);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}