<footer class="footer">
  <div class="footer-content">
    <div class="footer-section links">
      <h3>Opciones</h3>
      <a href="#">Sobre nosotros</a>
      <a routerLink="contact" routerLinkActive="active">Contáctanos</a>
      <a href="#">¿Cómo comprar?</a>
      <a href="#">Crea un ticket para soporte</a>
    </div>
    <div class="footer-section social">
      <h3>Redes Sociales</h3>
      <a href="https://www.facebook.com/neversio/" class="facebook-button" target="_blank">
        <img src="/assets/facebook_logo.svg" alt="Facebook Logo" class="logo">
      </a>
      <a href="https://www.instagram.com/neversiondigital" class="instagram-button" target="_blank">
        <img src="/assets/instagram_logo.svg" alt="Instagram Logo" class="logo">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright &copy; 2026 | Powered by Neversion</p>
  </div>
</footer>