.footer {
  background-color: var(--darkest-background-color);
  color: var(--light-text-color);
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--light-text-color);
}

.footer-section a {
  color: var(--light-text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: var(--secondary-color);
}

.footer-section.social a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid var(--primary-variant-color);
  margin-top: 20px;
}
