<div class="toolbar">
  <div class="toolbar-left">
    <img src="/assets/logo_neversion.svg" alt="Neversion Logo" class="logo" routerLink="/">
  </div>
  <div class="toolbar-center">
    <nav class="navigation">
      <a routerLink="offers" routerLinkActive="active">Ofertas</a>
      <a routerLink="combo" routerLinkActive="active">Combos</a>
      <a routerLink="platforms" routerLinkActive="active">Plataformas</a>
      <a routerLink="games" routerLinkActive="active">Recargas en Juegos</a>
      <a routerLink="wholesalers" routerLinkActive="active">Mayoristas</a>
      <a routerLink="payment-methods" routerLinkActive="active">Metodos de pago</a>
    </nav>
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
    </div>
  </div>
  <div class="toolbar-right">
    <!-- TODO: Replace with a proper cart icon -->
    <div class="cart">
      <a routerLink="checkout" routerLinkActive="active">
        <img src="/assets/cart.svg" alt="Shopping Cart" class="cart-icon">
      </a>
    </div>
  </div>
</div>